# Serverless directories
.serverless
.deploy.txt

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# node
node_modules

# vscode
.vscode

#delve
debug.test

#osx
.DS_Store

artifact
*.zip
*.out
coverage.html
reports/
report.json
report.json.html


